In [10]:
import pandas as pd
import numpy as np
import datetime
from epiweeks import Week
import epiweeks
from collections import defaultdict
from pathlib import Path
import requests
import os
from datetime import datetime
from datetime import date, timedelta
from sodapy import Socrata
import warnings

import covidcast
from delphi_epidata import Epidata

covidcast.use_api_key("4bee67d2520898")


warnings.filterwarnings('ignore')

In [ ]:
# try to add in Delphi versioned data for categorical ensemble

In [43]:
TODAY = datetime.now()

# Convert dates to epiweeks
start_week = Week.fromdate(date(2025, 10, 1))
end_week = Week.fromdate(TODAY)

start_epiweek = int(f"{start_week.year}{start_week.week:02d}")
end_epiweek = int(f"{end_week.year}{end_week.week:02d}")

result_adm = Epidata.covidcast(data_source='nhsn', signals='confirmed_admissions_flu_ew_prelim',
    time_type='week', geo_type='state', time_values=Epidata.range(start_epiweek, end_epiweek), geo_value='*',
                              issues='*')
result_adm_us = Epidata.covidcast(data_source='nhsn', signals='confirmed_admissions_flu_ew_prelim',
    time_type='week', geo_type='nation', time_values=Epidata.range(start_epiweek, end_epiweek), geo_value='*',
                              issues='*')

# Convert to DataFrame
if result_adm['result'] == 1:
    dfadm = pd.DataFrame(result_adm['epidata'])
    dfadm_us = pd.DataFrame(result_adm_us['epidata'])
    #print(dfadm[['time_value', 'value', 'issue']])
else:
    print(f"No results: {result_adm.get('message')}")

dfadm = dfadm[['geo_value', 'time_value','issue','value']]
dfadm_us = dfadm_us[['geo_value', 'time_value','issue','value']]


df = pd.concat([dfadm, dfadm_us])

df['issue_date'] = df['issue'].apply(lambda x: Week(x//100, x %100).enddate())
df['target_end_date'] = df['time_value'].apply(lambda x: Week(x//100, x %100).enddate())

df['abbreviation'] = df['geo_value'].apply(lambda x: x.upper())

locations = pd.read_csv('./locations.csv')[['abbreviation', 'location', 'location_name']]

df = df.merge(locations, on='abbreviation')

In [44]:
df

,geo_value,time_value,issue,value,issue_date,target_end_date,abbreviation,location,location_name
0,ak,202540,202547,2.0,2025-11-22,2025-10-04,AK,02,Alaska
1,ak,202540,202548,2.0,2025-11-29,2025-10-04,AK,02,Alaska
2,ak,202540,202549,2.0,2025-12-06,2025-10-04,AK,02,Alaska
3,ak,202540,202550,2.0,2025-12-13,2025-10-04,AK,02,Alaska
4,ak,202540,202551,2.0,2025-12-20,2025-10-04,AK,02,Alaska
...,...,...,...,...,...,...,...,...,...
6196,us,202601,202603,29080.0,2026-01-24,2026-01-10,US,US,US
6197,us,202601,202604,29360.0,2026-01-31,2026-01-10,US,US,US
6198,us,202602,202603,17268.0,2026-01-24,2026-01-17,US,US,US
6199,us,202602,202604,18893.0,2026-01-31,2026-01-17,US,US,US
6200,us,202603,202604,13590.0,2026-01-31,2026-01-24,US,US,US

In [47]:
reference_date = '2026-01-17'
loc = 'US'
last_obs = pd.to_datetime(reference_date) - timedelta(days=7)
    
#obs_vers = df.copy()
obs_vers['target_end_date'] = pd.to_datetime(obs_vers['target_end_date'])
obs_vers['issue_date'] = pd.to_datetime(obs_vers['issue_date'])
obs_subset = obs_vers[(obs_vers.location == loc) &  (obs_vers.target_end_date == last_obs) &\
                      (obs_vers.issue_date==pd.to_datetime(reference_date))]

In [48]:
obs_subset

Empty DataFrame
Columns: [geo_value, time_value, issue, value, issue_date, target_end_date, abbreviation, location, location_name]
Index: []

In [51]:
covidcast.__version__

AttributeError: module 'covidcast' has no attribute '__version__'

In [61]:
pd.to_datetime(Week.fromdate(datetime.now()).enddate()) +timedelta(days=3)

Timestamp('2026-02-10 00:00:00')

In [ ]:
# previous code

# Get observed value
last_obs = pd.to_datetime(reference_date) - timedelta(days=7)
try:
    obs_date = last_obs.strftime('%Y-%m-%d')
    obs_vers = pd.read_csv(f'https://raw.githubusercontent.com/cdcepi/FluSight-forecast-hub/refs/heads/main/auxiliary-data/target-data-archive/target-hospital-admissions_{obs_date}.csv')
    obs_vers['date'] = pd.to_datetime(obs_vers['date'])
    obs_subset = obs_vers[(obs_vers.location == loc) &  (obs_vers.date == last_obs)]
except:
    obs_subset = obs[(obs.location == loc) &  (obs.date == last_obs)]

In [64]:
pd.read_csv('./data/observed_data.csv')

             date location   location_name  value  weekly_rate
0      2026-01-31       02          Alaska   26.0     3.512882
1      2026-01-31       01         Alabama  259.0     5.021619
2      2026-01-31       25   Massachusetts  206.0     2.886702
3      2026-01-31       37  North Carolina  412.0     3.729849
4      2026-01-31       47       Tennessee  367.0     5.077652
...           ...      ...             ...    ...          ...
11072  2022-02-05       23           Maine    3.0     0.213521
11073  2022-02-05       37  North Carolina   48.0     0.434545
11074  2022-02-05       33   New Hampshire    1.0     0.070971
11075  2022-02-05       29        Missouri   47.0     0.752546
11076  2022-02-05       55       Wisconsin   30.0     0.503273

[11077 rows x 5 columns]

In [81]:
df = pd.read_csv('./data/thresholds_2425.csv').rename(columns={'Location':'location'})
locations = pd.read_csv('./locations.csv')[['abbreviation','location','location_name','population']]

df = df.merge(locations)

df['Epidemic'] = (df['Epidemic']/100000) * df['population']
df['Medium'] = (df['Medium']/100000) * df['population']
df['High'] = (df['High']/100000) * df['population']
df['Very High'] = (df['Very High']/100000) * df['population']

In [82]:
df.to_csv('./data/threshold_levels.csv', index=False)

In [83]:
df

,location,Epidemic,Medium,High,Very High,abbreviation,location_name,population
0,US,4894.993006,7407.893441,24543.327964,41674.906190,US,US,340110988
1,01,85.976838,81.662643,397.799627,800.932534,AL,Alabama,5157699
2,02,9.046774,8.924390,70.697689,176.473345,AK,Alaska,740133
3,04,185.436324,293.035055,978.068584,1666.209968,AZ,Arizona,7582384
4,05,78.044398,125.993689,409.841397,690.293178,AR,Arkansas,3088354
5,06,251.259677,432.738009,2654.188516,5916.863798,CA,California,39431263
6,08,46.159704,155.365276,325.072770,450.500100,CO,Colorado,5957493
7,09,54.492255,92.873369,331.538340,581.831411,CT,Connecticut,3675069
8,10,7.262191,17.937757,62.647051,108.883150,DE,Delaware,1051917
9,11,12.095182,11.456882,73.701328,167.797427,DC,District of Columbia,702250
10,12,476.070333,416.886845,1680.696736,3112.451306,FL,Florida,23372215
11,13,159.342468,128.333237,670.371859,1392.052004,GA,Georgia,11180878
12,15,15.495710,10.409186,45.758847,88.044349,HI,Hawaii,1446146
13,16,14.844177,46.163290,224.124360,450.588749,ID,Idaho,2001619
14,17,134.679790,221.109028,772.063685,1341.761168,IL,Illinois,12710158
15,18,150.185003,201.036964,717.104417,1258.048136,IN,Indiana,6924275
16,19,45.377925,81.950817,260.151901,433.473554,IA,Iowa,3241488
17,20,45.837726,67.679096,222.002500,375.303688,KS,Kansas,2970606
18,21,90.000084,142.094922,538.447811,970.207325,KY,Kentucky,4588372
19,22,71.378074,91.572979,326.598416,572.931270,LA,Louisiana,4597740
20,23,14.966285,40.056667,157.362662,288.101172,ME,Maine,1405012
21,24,47.011789,104.787911,379.930473,671.353329,MD,Maryland,6263220
22,25,114.169282,253.288874,756.811957,1227.717342,MA,Massachusetts,7136171
23,26,202.244838,302.535368,964.307990,1609.651571,MI,Michigan,10140459
24,27,57.503308,81.873153,334.385440,622.803507,MN,Minnesota,5793151
25,28,74.561090,78.194566,305.236053,557.257459,MS,Mississippi,2943045
26,29,110.408276,187.440624,730.532773,1332.777843,MO,Missouri,6245466
27,30,16.438829,37.216718,121.198993,204.237304,MT,Montana,1137233
28,31,24.362117,54.863218,119.020653,167.603186,NE,Nebraska,2005465
29,32,34.591821,90.529464,243.125937,376.239154,NV,Nevada,3267467
30,33,10.812642,29.467483,86.899578,140.155433,NH,New Hampshire,1409032
31,34,139.961081,226.117628,786.438915,1364.358803,NJ,New Jersey,9500851
32,35,39.266487,87.732331,326.179828,582.805727,NM,New Mexico,2130256
33,36,247.041616,437.870243,1672.316933,3023.749931,NY,New York,19867248
34,37,122.323225,155.805765,774.580911,1573.644358,NC,North Carolina,11046024
35,38,15.103032,15.760266,90.240880,195.147138,ND,North Dakota,796568
36,39,186.119172,263.331043,1025.528784,1870.337471,OH,Ohio,11883304
37,40,110.434409,202.954423,644.375468,1073.752300,OK,Oklahoma,4095393
38,41,40.375364,61.016210,408.348651,946.091651,OR,Oregon,4272371
39,42,200.740153,348.420574,1124.074252,1886.393428,PA,Pennsylvania,13078751
40,44,5.063947,13.353238,64.073919,128.150254,RI,Rhode Island,1112308
41,45,81.177594,92.799845,448.862012,900.917747,SC,South Carolina,5478831
42,46,14.763244,26.560729,85.546229,143.454886,SD,South Dakota,924669
43,47,93.329320,124.899861,597.120459,1192.326746,TN,Tennessee,7227750
44,48,562.504352,804.688075,2071.568325,3146.391275,TX,Texas,31290831
45,49,14.439173,23.281099,65.627768,103.757877,UT,Utah,3503613
46,50,5.589993,15.047810,53.543491,93.831195,VT,Vermont,648493
47,51,146.736217,135.905971,590.102459,1129.225294,VA,Virginia,8811195
48,53,56.551305,91.028083,497.737171,1054.659901,WA,Washington,7958180
49,54,24.480131,79.666258,260.506630,439.787721,WV,West Virginia,1769979
50,55,77.262728,124.587813,448.630535,790.348906,WI,Wisconsin,5960975
51,56,9.851521,16.569487,83.671431,171.165349,WY,Wyoming,587618
52,72,55.005910,65.259140,148.939334,214.489038,PR,Puerto Rico,3203295

In [80]:
pd.read_csv('./data/thresholds_2425.csv')

   Location  Epidemic    Medium       High  Very High
0        US  1.439234  2.178081   7.216270  12.253325
1        01  1.666961  1.583315   7.712734  15.528873
2        02  1.222317  1.205782   9.552025  23.843464
3        04  2.445620  3.864682  12.899223  21.974751
4        05  2.527055  4.079639  13.270545  22.351491
5        06  0.637209  1.097449   6.731178  15.005514
6        08  0.774818  2.607897   5.456536   7.561907
7        09  1.482755  2.527119   9.021282  15.831850
8        10  0.690377  1.705244   5.955513  10.350926
9        11  1.722347  1.631454  10.495027  23.894258
10       12  2.036907  1.783686   7.191003  13.316886
11       13  1.425134  1.147792   5.995700  12.450292
12       15  1.071518  0.719788   3.164193   6.088206
13       16  0.741609  2.306298  11.197154  22.511215
14       17  1.059623  1.739625   6.074383  10.556605
15       18  2.168964  2.903365  10.356383  18.168662
16       19  1.399910  2.528185   8.025694  13.372672
17       20  1.543043  2.278293   7.473307  12.633910
18       21  1.961482  3.096848  11.735051  21.144914
19       22  1.552460  1.991695   7.103456  12.461150
20       23  1.065207  2.850984  11.200094  20.505246
21       24  0.750601  1.673068   6.066057  10.718980
22       25  1.599868  3.549367  10.605295  17.204147
23       26  1.994435  2.983448   9.509510  15.873557
24       27  0.992608  1.413275   5.772082  10.750687
25       28  2.533468  2.656927  10.371437  18.934724
26       29  1.767815  3.001227  11.697010  21.339926
27       30  1.445511  3.272568  10.657358  17.959143
28       31  1.214786  2.735686   5.934816   8.357323
29       32  1.058674  2.770631   7.440808  11.514704
30       33  0.767381  2.091328   6.167325   9.946930
31       34  1.473143  2.379972   8.277563  14.360385
32       35  1.843276  4.118394  15.311767  27.358483
33       36  1.243462  2.203980   8.417456  15.219772
34       37  1.107396  1.410514   7.012305  14.246251
35       38  1.896013  1.978521  11.328710  24.498491
36       39  1.566224  2.215975   8.629997  15.739204
37       40  2.696552  4.955676  15.734155  26.218541
38       41  0.945034  1.428158   9.557893  22.144417
39       42  1.534857  2.664020   8.594661  14.423345
40       44  0.455265  1.200498   5.760448  11.521112
41       45  1.481659  1.693789   8.192660  16.443613
42       46  1.596598  2.872458   9.251552  15.514188
43       47  1.291264  1.728060   8.261499  16.496513
44       48  1.797665  2.571642   6.620369  10.055314
45       49  0.412122  0.664488   1.873145   2.961454
46       50  0.861997  2.320428   8.256603  14.469114
47       51  1.665338  1.542424   6.697190  12.815802
48       53  0.710606  1.143830   6.254410  13.252526
49       54  1.383075  4.500972  14.718063  24.847059
50       55  1.296142  2.090058   7.526127  13.258719
51       56  1.676518  2.819772  14.239086  29.128677
52       72  1.717167  2.037250   4.649567   6.695888