In [10]:
import pandas as pd
import numpy as np
import datetime
from epiweeks import Week
import epiweeks
from collections import defaultdict
from pathlib import Path
import requests
import os
from datetime import datetime
from datetime import date, timedelta
from sodapy import Socrata
import warnings

import covidcast
from delphi_epidata import Epidata

covidcast.use_api_key("4bee67d2520898")


warnings.filterwarnings('ignore')

In [ ]:
# try to add in Delphi versioned data for categorical ensemble

In [43]:
TODAY = datetime.now()

# Convert dates to epiweeks
start_week = Week.fromdate(date(2025, 10, 1))
end_week = Week.fromdate(TODAY)

start_epiweek = int(f"{start_week.year}{start_week.week:02d}")
end_epiweek = int(f"{end_week.year}{end_week.week:02d}")

result_adm = Epidata.covidcast(data_source='nhsn', signals='confirmed_admissions_flu_ew_prelim',
    time_type='week', geo_type='state', time_values=Epidata.range(start_epiweek, end_epiweek), geo_value='*',
                              issues='*')
result_adm_us = Epidata.covidcast(data_source='nhsn', signals='confirmed_admissions_flu_ew_prelim',
    time_type='week', geo_type='nation', time_values=Epidata.range(start_epiweek, end_epiweek), geo_value='*',
                              issues='*')

# Convert to DataFrame
if result_adm['result'] == 1:
    dfadm = pd.DataFrame(result_adm['epidata'])
    dfadm_us = pd.DataFrame(result_adm_us['epidata'])
    #print(dfadm[['time_value', 'value', 'issue']])
else:
    print(f"No results: {result_adm.get('message')}")

dfadm = dfadm[['geo_value', 'time_value','issue','value']]
dfadm_us = dfadm_us[['geo_value', 'time_value','issue','value']]


df = pd.concat([dfadm, dfadm_us])

df['issue_date'] = df['issue'].apply(lambda x: Week(x//100, x %100).enddate())
df['target_end_date'] = df['time_value'].apply(lambda x: Week(x//100, x %100).enddate())

df['abbreviation'] = df['geo_value'].apply(lambda x: x.upper())

locations = pd.read_csv('./locations.csv')[['abbreviation', 'location', 'location_name']]

df = df.merge(locations, on='abbreviation')

In [44]:
df

,geo_value,time_value,issue,value,issue_date,target_end_date,abbreviation,location,location_name
0,ak,202540,202547,2.0,2025-11-22,2025-10-04,AK,02,Alaska
1,ak,202540,202548,2.0,2025-11-29,2025-10-04,AK,02,Alaska
2,ak,202540,202549,2.0,2025-12-06,2025-10-04,AK,02,Alaska
3,ak,202540,202550,2.0,2025-12-13,2025-10-04,AK,02,Alaska
4,ak,202540,202551,2.0,2025-12-20,2025-10-04,AK,02,Alaska
...,...,...,...,...,...,...,...,...,...
6196,us,202601,202603,29080.0,2026-01-24,2026-01-10,US,US,US
6197,us,202601,202604,29360.0,2026-01-31,2026-01-10,US,US,US
6198,us,202602,202603,17268.0,2026-01-24,2026-01-17,US,US,US
6199,us,202602,202604,18893.0,2026-01-31,2026-01-17,US,US,US
6200,us,202603,202604,13590.0,2026-01-31,2026-01-24,US,US,US

In [47]:
reference_date = '2026-01-17'
loc = 'US'
last_obs = pd.to_datetime(reference_date) - timedelta(days=7)
    
#obs_vers = df.copy()
obs_vers['target_end_date'] = pd.to_datetime(obs_vers['target_end_date'])
obs_vers['issue_date'] = pd.to_datetime(obs_vers['issue_date'])
obs_subset = obs_vers[(obs_vers.location == loc) &  (obs_vers.target_end_date == last_obs) &\
                      (obs_vers.issue_date==pd.to_datetime(reference_date))]

In [48]:
obs_subset

Empty DataFrame
Columns: [geo_value, time_value, issue, value, issue_date, target_end_date, abbreviation, location, location_name]
Index: []

In [51]:
covidcast.__version__

AttributeError: module 'covidcast' has no attribute '__version__'

In [61]:
pd.to_datetime(Week.fromdate(datetime.now()).enddate()) +timedelta(days=3)

Timestamp('2026-02-10 00:00:00')

In [ ]:
# previous code

# Get observed value
last_obs = pd.to_datetime(reference_date) - timedelta(days=7)
try:
    obs_date = last_obs.strftime('%Y-%m-%d')
    obs_vers = pd.read_csv(f'https://raw.githubusercontent.com/cdcepi/FluSight-forecast-hub/refs/heads/main/auxiliary-data/target-data-archive/target-hospital-admissions_{obs_date}.csv')
    obs_vers['date'] = pd.to_datetime(obs_vers['date'])
    obs_subset = obs_vers[(obs_vers.location == loc) &  (obs_vers.date == last_obs)]
except:
    obs_subset = obs[(obs.location == loc) &  (obs.date == last_obs)]

In [64]:
pd.read_csv('./data/observed_data.csv')

             date location   location_name  value  weekly_rate
0      2026-01-31       02          Alaska   26.0     3.512882
1      2026-01-31       01         Alabama  259.0     5.021619
2      2026-01-31       25   Massachusetts  206.0     2.886702
3      2026-01-31       37  North Carolina  412.0     3.729849
4      2026-01-31       47       Tennessee  367.0     5.077652
...           ...      ...             ...    ...          ...
11072  2022-02-05       23           Maine    3.0     0.213521
11073  2022-02-05       37  North Carolina   48.0     0.434545
11074  2022-02-05       33   New Hampshire    1.0     0.070971
11075  2022-02-05       29        Missouri   47.0     0.752546
11076  2022-02-05       55       Wisconsin   30.0     0.503273

[11077 rows x 5 columns]

In [76]:
df = pd.read_csv('./data/thresholds_2425.csv').rename(columns={'Location':'location'})
locations = pd.read_csv('./locations.csv')[['abbreviation','location','location_name','population']]

df = df.merge(locations)

df['Epidemic'] = (df['Epidemic']/1000) * df['population']
df['Medium'] = (df['Medium']/1000) * df['population']
df['High'] = (df['High']/1000) * df['population']
df['Very High'] = (df['Very High']/1000) * df['population']

In [77]:
df

,location,Epidemic,Medium,High,Very High,abbreviation,location_name,population
0,US,489499.300616,740789.344132,2.454333e+06,4.167491e+06,US,US,340110988
1,01,8597.683825,8166.264311,3.977996e+04,8.009325e+04,AL,Alabama,5157699
2,02,904.677441,892.438983,7.069769e+03,1.764733e+04,AK,Alaska,740133
3,04,18543.632367,29303.505535,9.780686e+04,1.666210e+05,AZ,Arizona,7582384
4,05,7804.439797,12599.368941,4.098414e+04,6.902932e+04,AR,Arkansas,3088354
5,06,25125.967710,43273.800941,2.654189e+05,5.916864e+05,CA,California,39431263
6,08,4615.970385,15536.527594,3.250728e+04,4.505001e+04,CO,Colorado,5957493
7,09,5449.225497,9287.336850,3.315383e+04,5.818314e+04,CT,Connecticut,3675069
8,10,726.219056,1793.775657,6.264705e+03,1.088832e+04,DE,Delaware,1051917
9,11,1209.518240,1145.688223,7.370133e+03,1.677974e+04,DC,District of Columbia,702250
10,12,47607.033310,41688.684467,1.680697e+05,3.112451e+05,FL,Florida,23372215
11,13,15934.246850,12833.323672,6.703719e+04,1.392052e+05,GA,Georgia,11180878
12,15,1549.571049,1040.918598,4.575885e+03,8.804435e+03,HI,Hawaii,1446146
13,16,1484.417735,4616.329029,2.241244e+04,4.505887e+04,ID,Idaho,2001619
14,17,13467.978975,22110.902813,7.720637e+04,1.341761e+05,IL,Illinois,12710158
15,18,15018.500346,20103.696418,7.171044e+04,1.258048e+05,IN,Indiana,6924275
16,19,4537.792500,8195.081679,2.601519e+04,4.334736e+04,IA,Iowa,3241488
17,20,4583.772619,6767.909565,2.220025e+04,3.753037e+04,KS,Kansas,2970606
18,21,9000.008386,14209.492211,5.384478e+04,9.702073e+04,KY,Kentucky,4588372
19,22,7137.807378,9157.297935,3.265984e+04,5.729313e+04,LA,Louisiana,4597740
20,23,1496.628490,4005.666655,1.573627e+04,2.881012e+04,ME,Maine,1405012
21,24,4701.178944,10478.791133,3.799305e+04,6.713533e+04,MD,Maryland,6263220
22,25,11416.928195,25328.887401,7.568120e+04,1.227717e+05,MA,Massachusetts,7136171
23,26,20224.483829,30253.536755,9.643080e+04,1.609652e+05,MI,Michigan,10140459
24,27,5750.330805,8187.315258,3.343854e+04,6.228035e+04,MN,Minnesota,5793151
25,28,7456.109015,7819.456644,3.052361e+04,5.572575e+04,MS,Mississippi,2943045
26,29,11040.827628,18744.062446,7.305328e+04,1.332778e+05,MO,Missouri,6245466
27,30,1643.882858,3721.671816,1.211990e+04,2.042373e+04,MT,Montana,1137233
28,31,2436.211675,5486.321761,1.190207e+04,1.676032e+04,NE,Nebraska,2005465
29,32,3459.182136,9052.946434,2.431259e+04,3.762392e+04,NV,Nevada,3267467
30,33,1081.264221,2946.748327,8.689958e+03,1.401554e+04,NH,New Hampshire,1409032
31,34,13996.108051,22611.762822,7.864389e+04,1.364359e+05,NJ,New Jersey,9500851
32,35,3926.648743,8773.233119,3.261798e+04,5.828057e+04,NM,New Mexico,2130256
33,36,24704.161597,43787.024303,1.672317e+05,3.023750e+05,NY,New York,19867248
34,37,12232.322541,15580.576481,7.745809e+04,1.573644e+05,NC,North Carolina,11046024
35,38,1510.303210,1576.026614,9.024088e+03,1.951471e+04,ND,North Dakota,796568
36,39,18611.917214,26333.104345,1.025529e+05,1.870337e+05,OH,Ohio,11883304
37,40,11043.440938,20295.442309,6.443755e+04,1.073752e+05,OK,Oklahoma,4095393
38,41,4037.536391,6101.621041,4.083487e+04,9.460917e+04,OR,Oregon,4272371
39,42,20074.015349,34842.057351,1.124074e+05,1.886393e+05,PA,Pennsylvania,13078751
40,44,506.394652,1335.323806,6.407392e+03,1.281503e+04,RI,Rhode Island,1112308
41,45,8117.759417,9279.984517,4.488620e+04,9.009177e+04,SC,South Carolina,5478831
42,46,1476.324432,2656.072911,8.554623e+03,1.434549e+04,SD,South Dakota,924669
43,47,9332.932039,12489.986115,5.971205e+04,1.192327e+05,TN,Tennessee,7227750
44,48,56250.435180,80468.807476,2.071568e+05,3.146391e+05,TX,Texas,31290831
45,49,1443.917278,2328.109878,6.562777e+03,1.037579e+04,UT,Utah,3503613
46,50,558.999321,1504.781026,5.354349e+03,9.383119e+03,VT,Vermont,648493
47,51,14673.621690,13590.597089,5.901025e+04,1.129225e+05,VA,Virginia,8811195
48,53,5655.130467,9102.808288,4.977372e+04,1.054660e+05,WA,Washington,7958180
49,54,2448.013072,7966.625837,2.605066e+04,4.397877e+04,WV,West Virginia,1769979
50,55,7726.272791,12458.781255,4.486305e+04,7.903489e+04,WI,Wisconsin,5960975
51,56,985.152137,1656.948716,8.367143e+03,1.711653e+04,WY,Wyoming,587618
52,72,5500.590979,6525.913999,1.489393e+04,2.144890e+04,PR,Puerto Rico,3203295

In [ ]:
(rate/1000 )*population= value